{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h3 align="center" style="color:white;"><i>Log In Page</i></h3>
<form method="post" action="login" align="center" height="50%" >
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter your Username"><br>
    <input type="password" name="password" placeholder="Enter your password"><br><br>
    <input type="submit" name="submit">
</form><br>
<center><a href="register">Click Here To Register</a></center>
{% endblock %}